<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
        <ul>
          <li><a id="index-link" href="#index/1"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <li><a id="about-link" href="#about"><i class="fa fa-info" aria-hidden="true"></i> Over deze app</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="editor-container">
        <a id="add-post" class="new-btn" href="#new"><i class="fa fa-plus" aria-hidden="true"></i> Nieuw bericht</a>
      </div>
      <div id="index" class="posts-container"></div>
      <div id="new" class="new-post-container">
        <section>
            <h2>Nieuw bericht maken</h2>
            <form enctype="multipart/form-data" id="new-post-form" class="form" action="#" method="post">
            </form>
        </section>
      </div>
      <div id="details" class="detail-container"></div>
      <div id="details-edit" class="detail-container">
          <section>
              <form enctype="multipart/form-data" id="update-post-form" class="form" action="#" method="post">
              </form>
          </section>
      </div>
      <div id="about" class="hidden">
        <section>
            <h2>Over deze app</h2>
            <p>Deze applicatie is gemaakt in opdracht van webbureau Create als intake test voor de afstudeer stage. 
            De opdracht luidde:<br>
            Het maken van een Create, Read en Update functionaliteit voor blog berichten. Deze functionaliteiten moeten kunnen werken zonder het herladen van de pagina (doormiddel van AJAX).
            </p>
            <p>
              Het resultaat is een mini Blog systeem, gemaakt met VanillaJS en met ondersteuning van twee microlibraries: Aja.js en Routie.js.
              <ul>
                <li>
                  <strong>Aja.js</strong> is een microlibrary die het aanmaken van XMLHttpRequests (GET) versimpelt, en vooral een nettere code oplevert.
                  Aja werkt nog niet optimaal voor POST-requests, daarvoor is gebruik gemaakt van de standaard XMLHttpRequests methode.<br>
                  <a href="http://krampstudio.com/aja.js/" target="blank">Meer lezen over Aja</a>
                </li>
                <li>
                  <strong>Routie.js</strong> is een microlibrary voor het versimpelen van client-side (hash)routing.<br>
                  <a href="http://projects.jga.me/routie/" target="blank">Meer lezen over Routie</a>
                </li>
              </ul>
            </p>
        </section>
      </div>
    </main>

  </body>
  <script type="text/javascript" src="javascripts/vendor/aja.min.js"></script>
  <script type="text/javascript" src="javascripts/vendor/routie.js"></script>
  <script type="text/javascript" src="javascripts/client.js"></script>
</html>
