body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  width: 70em;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

header nav ul li {
  margin-left: 1em;
}

header nav ul li a {
  text-decoration: none;
  transition: 0.2s;
  padding: 0.5em 1em;
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active {
  transition: 0.2s;
}

.active {
  font-weight: bold;
  background-color: skyblue;
  color: white;
  pointer-events: none;
  cursor: default;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
}

.blog-post {
  display: flex;
  padding: 1em;
  border: 1px solid lightgrey;
  width: 100%;
  margin-bottom: 1em;
}

.img-container {
  width: 40%;
}

.meta-container {
  position: relative;
  width: 60%;
  padding: 0 2em;
}

.blog-post-title {
  margin-top: 0;
  font-size: 200%;
}

.blog-post-content {
  padding: 1em 0;
}

.blog-post-img {
  width: 100%;
}

.blog-post-img-detail {
  max-width: 40em;
}

.detail-link {
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: skyblue;
  padding: 0.5em 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.detail-link:hover {
  background: deepskyblue;
}

.hidden {
  display: none;
}

#editor-container {
  display: flex;
  justify-content: flex-end;
  margin: 1em 0;
}

.new-btn {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background: #C22DAA;
  color: white;
  padding: 0.5em 1em;
  line-height: 2em;
  font-size: 1em;
}

.new-btn:hover {
  background: #6D1A5F;
}

.edit-btn {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background: #4181C3;
  color: white;
  padding: 0.9em 1em;
  font-size: 1em;
  margin-left: 1em;
}

.edit-btn:hover {
  background: #1B4875;
}

.back-btn {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background: crimson;
  color: white;
  padding: 0.9em 1em;
  font-size: 1em;
  margin-left: 1em;
}

.back-btn:hover {
  background: #8A1717;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1em 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  font-family: inherit;
  margin: 1em 0;
  padding: 1em;
}

.form textarea {
  height: 20em;
}

.form .form-submit {
  width: 10em;
  background: #96C64E;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.form .form-submit:hover {
  background: #5BB55B;
}

.pagination {
  width: 100%;
  text-align: center;
}

#page-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

#page-list li {
  margin: 0 1em;
}
